body {
    font-family: 'Arial', sans-serif;
    background-image: url('assets/images/blue_grad.jpg');
    /* Replace with your image path */
    background-size: cover;
    /* Ensures the image covers the whole screen */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents tiling the image */
    background-attachment: fixed;
    /* Fixes the image in place when scrolling */
    min-height: 100vh;
    /* Ensures full viewport height */
    margin: 0;
    overflow-x: hidden;
    /* Prevents horizontal scrolling */
}

h1,
h2,
h3 {
    color: #333;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    max-width: 960px;
}

.container1 {
    max-width: 960px;
}

.con {
    min-height: 75vh;
    margin-top: 20px;
}
.card {
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

.projects .card-body {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 15px; /* Adjusted padding */
    border-radius: 8px; /* Rounded corners */
}

  .custom-button:hover {
    background-color: transparent; /* Ensure background stays transparent */
    color: white; /* Keep text color white */
    box-shadow: none; /* Remove the shadow on hover */
    border-color: white; /* Optional: Keep the border color white */
  }


/* Hero Section Styles */
.hero {
    min-height: 100vh; /* Ensures that the header covers the full viewport */
    display: flex; /* Flexbox for centering content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    color: white; /* Text color */
    position: relative; /* For positioning the downward arrow */
}

/* Downward Arrow Animation */
.down-arrow i {
    font-size: 2rem; /* Icon size */
    animation: bounce 1s infinite; /* Bounce animation */
}

/* Bounce Animation Keyframes */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

/* Project Card Hover Effect */
.card {
    transition: transform 0.3s; /* Animation for scaling */
}

.card:hover {
    transform: scale(1.05); /* Scale up on hover */
}

/* Adjusting project card layout */
.projects {
    min-height: 80vh;
    margin-top: 20px; /* Add margin for spacing */
}

.experience {
    min-height: 85vh;
    margin-top: 20px; /* Add margin for spacing */
}

.skills {
    min-height: 75vh;
    margin-top: 20px; /* Add margin for spacing */
}

